In [1]:
import numpy as np

import csv

def save_to_csv(lmbda, num_job, filename):
    # CSV 파일로 저장
    data = np.random.exponential(lmbda, num_job)
    with open(filename, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['IAT'])
        writer.writerows([[value] for value in data])
    
save_to_csv(15/5, 100, 'IAT100.csv')

In [2]:

pt_var = np.random.uniform(low=0.8, high=1.2, size=100)
with open('PT_var.csv', mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['PT_var'])
        writer.writerows([[value] for value in pt_var])

In [3]:
import pandas as pd
iat = pd.read_csv('IAT100.csv')
iat = iat.to_numpy()
iat

array([[5.03800346e-01],
       [9.00148186e-01],
       [4.20583354e+00],
       [4.93004073e+00],
       [2.76996050e+00],
       [1.97707362e-01],
       [1.25006305e-01],
       [4.53469469e-02],
       [1.90723179e+00],
       [3.03304987e+00],
       [4.23828970e+00],
       [2.89485492e+00],
       [1.83981517e+00],
       [2.94683556e+00],
       [2.49247061e+00],
       [2.69399943e+00],
       [1.91838130e+00],
       [3.09449038e+00],
       [5.24498778e-01],
       [1.79828430e+00],
       [3.11751988e+00],
       [1.53104652e+01],
       [2.88230849e+00],
       [3.96596550e-01],
       [5.81629846e-01],
       [3.18027566e+00],
       [1.63946794e+00],
       [4.12453493e+00],
       [1.89797459e+00],
       [8.20523402e+00],
       [1.71592409e+00],
       [3.41588586e+00],
       [1.19106180e+00],
       [1.30426152e+00],
       [4.20774232e-01],
       [2.86802579e+00],
       [1.42616601e+00],
       [2.24509238e+00],
       [2.36526954e+00],
       [9.28613078e+00],
       [6.43911682e-01],
       [3.25635896e+00],
       [1.15110770e+01],
       [4.46309223e+00],
       [6.92667090e-01],
       [1.53246294e+00],
       [9.07877080e-01],
       [9.39295305e-01],
       [5.94741381e-01],
       [6.40349754e+00],
       [1.91210534e-01],
       [4.68905368e-01],
       [3.03223720e+00],
       [1.26574193e+00],
       [2.01772176e-01],
       [1.77327268e+01],
       [4.77945699e+00],
       [3.76239305e+00],
       [2.06131725e+00],
       [1.54316325e-01],
       [5.40151579e-01],
       [1.25555952e+00],
       [5.45692808e-01],
       [1.14983097e+00],
       [3.14826529e-01],
       [1.47656731e+00],
       [1.43353499e+00],
       [1.97297640e+00],
       [2.41026837e-01],
       [6.06149767e-01],
       [2.33410540e+00],
       [5.88949765e+00],
       [1.02014251e+00],
       [4.52269322e+00],
       [1.65020780e+00],
       [5.41738929e+00],
       [5.03955287e-01],
       [1.45708955e-02],
       [9.35090398e+00],
       [2.72715576e+00],
       [8.66828653e-01],
       [2.06047367e-01],
       [3.23588166e-01],
       [3.33632815e+00],
       [9.27014967e+00],
       [1.06751958e+00],
       [1.61898277e+00],
       [5.91689653e+00],
       [5.85887547e-02],
       [2.84080684e+00],
       [3.21558075e+00],
       [3.17512514e+00],
       [6.13042051e-01],
       [5.35646246e+00],
       [7.66603230e-03],
       [1.50938368e+00],
       [1.05564177e+00],
       [5.84628910e+00],
       [3.42358426e+00],
       [6.94078350e-01]])

In [9]:
import pandas as pd

data = pd.read_csv('./output/241010_Heuristic_Log_100/COVERT_sample100_test0.csv')
j = data[data['Job']=='Job '+str(0)]
j

     Time            Event    Job      Class  Queue                     Memo
0    0.00          Created  Job 0     Source    NaN       26.210630105335863
1    0.00  Move to Routing  Job 0     Source    1.0                      NaN
8    0.00  Move to Machine  Job 0    Routing    0.0  Machine current setup 0
9    0.00      Get the Job  Job 0  Machine 0    NaN                      NaN
10   0.00            Setup  Job 0  Machine 0    NaN         Job Setup Type 4
17   6.00       Work Start  Job 0  Machine 0    NaN                      NaN
66  25.47      Work Finish  Job 0  Machine 0    NaN                      NaN
67  25.47        Completed  Job 0       Sink    NaN                        0

In [10]:
with open("241010_COVERT_sample100_test0_Unity_log.csv", 'w') as f:
    # column명 작성
    f.write('Job,Machine,Created,Move,Setup,Start,Finish,JobSetup,MachineSetup\n')

for i in range(100):
    j = data[data['Job']=='Job '+str(i)]
    machine = j[j['Event']=='Setup']['Class'].values[0][-1]
    created = j[j['Event']=='Created']['Time'].values[0]
    move = j[j['Event']=='Setup']['Time'].values[0]
    setup = move + 0.5
    start = j[j['Event']=='Work Start']['Time'].values[0]
    finish = j[j['Event']=='Work Finish']['Time'].values[0]
    job_setup = j[j['Event']=='Setup']['Memo'].values[0][-1]
    machine_setup = j[j['Event']=='Move to Machine']['Memo'].values[0][-1]
    with open("241010_COVERT_sample100_test0_Unity_log.csv", 'a') as f:
        f.write('%s,%s,%.2f,%.2f,%.2f,%.2f,%.2f,%s,%s\n'% (str(i), machine, created, move, setup, start,finish,job_setup,machine_setup))