In [1]:
import numpy as np

import csv

def save_to_csv(lmbda, num_job, filename):
    # CSV 파일로 저장
    data = np.random.exponential(lmbda, num_job)
    with open(filename, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['IAT'])
        writer.writerows([[value] for value in data])
    
save_to_csv(15/5, 100, 'IAT100.csv')

In [5]:

pt_var = np.random.uniform(low=0.8, high=1.2, size=100)
with open('PT_var.csv', mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['PT_var'])
        writer.writerows([[value] for value in pt_var])

In [2]:
import pandas as pd
iat = pd.read_csv('IAT100.csv')
iat = iat.to_numpy()
iat

array([[ 5.38603568],
       [ 1.82425636],
       [ 1.72074858],
       [ 0.70562717],
       [ 0.37654486],
       [ 4.81811595],
       [ 3.59311379],
       [ 1.76585937],
       [ 0.72447898],
       [ 3.82405637],
       [ 6.04755007],
       [ 0.55468317],
       [ 1.99482198],
       [ 1.85139571],
       [ 6.84013837],
       [ 0.40587147],
       [ 0.87817582],
       [ 3.19795572],
       [ 2.14733539],
       [ 3.80634823],
       [ 2.27290688],
       [ 1.27386117],
       [ 6.32294138],
       [ 5.06187672],
       [ 3.870908  ],
       [ 3.45317854],
       [ 0.4088322 ],
       [ 2.05294635],
       [ 1.59487526],
       [ 0.0399047 ],
       [ 2.23472937],
       [ 0.40941808],
       [ 1.63186628],
       [ 2.12573687],
       [ 4.07456276],
       [ 0.88749097],
       [12.64708833],
       [ 0.33807656],
       [ 0.79597384],
       [ 5.61247329],
       [ 1.70710233],
       [ 0.5673773 ],
       [ 0.30267812],
       [ 1.85338002],
       [ 1.30437443],
       [ 2.66149599],
       [ 8.91250036],
       [ 2.16302171],
       [ 3.00737521],
       [ 3.06119098],
       [ 0.55898524],
       [ 4.38992791],
       [ 0.82461141],
       [ 0.21400931],
       [ 0.56974759],
       [ 4.01330377],
       [ 0.36621001],
       [ 4.51141772],
       [ 0.80451031],
       [ 0.66362825],
       [ 0.75458802],
       [ 4.00865935],
       [ 1.53472772],
       [ 5.15558929],
       [ 0.35651801],
       [ 1.7956871 ],
       [ 2.01257436],
       [ 1.74625062],
       [ 0.73364976],
       [ 0.31921604],
       [ 1.70517067],
       [ 0.07568352],
       [ 2.52708945],
       [ 0.02194097],
       [ 1.46034368],
       [ 2.47489578],
       [ 5.34562069],
       [ 1.40285969],
       [ 1.42310798],
       [ 0.17985996],
       [ 0.12081165],
       [ 0.02173996],
       [ 1.66722677],
       [ 1.50019109],
       [ 4.51529128],
       [ 1.57613597],
       [ 2.01431068],
       [ 1.45521367],
       [ 1.14069687],
       [ 9.03641647],
       [ 0.94873091],
       [ 1.86600666],
       [ 4.01370757],
       [ 1.09689269],
       [17.09909032],
       [10.05114494],
       [ 1.40725076],
       [ 4.28490522],
       [ 1.00082557],
       [ 0.70110576]])

In [8]:
import pandas as pd

data = pd.read_csv('./output/241008_Heuristic_Log_100/SSPT_sample100_test0.csv')
j = data[data['Job']=='Job '+str(0)]
j

     Time            Event    Job      Class  Queue                Memo
0    0.00          Created  Job 0     Source    NaN  26.210630105335863
1    0.00  Move to Routing  Job 0     Source    1.0                 NaN
8    0.00  Move to Machine  Job 0    Routing    0.0                   6
9    0.00      Get the Job  Job 0  Machine 0    NaN                 NaN
10   0.00            Setup  Job 0  Machine 0    NaN                   6
17   6.00       Work Start  Job 0  Machine 0    NaN                 NaN
66  25.47      Work Finish  Job 0  Machine 0    NaN                 NaN
67  25.47        Completed  Job 0       Sink    NaN                   0

In [19]:
move = j[j['Event']=='Setup']['Time'].values[0]
start = j[j['Event']=='Work Start']['Time'].values[0]
finish = j[j['Event']=='Work Finish']['Time'].values[0]

In [20]:
(move, start, finish)

(0.0, 6.0, 25.47)

In [33]:
machine = j[j['Event']=='Setup']['Class'].values[0][-1]
machine

'4'

In [34]:
with open("SSPT_sample100_test0_Unity_log.csv", 'w') as f:
    # column명 작성
    f.write('Job,Machine,Created,Move,Setup,Start,Finish\n')

for i in range(100):
    j = data[data['Job']=='Job '+str(i)]
    machine = j[j['Event']=='Setup']['Class'].values[0][-1]
    created = j[j['Event']=='Created']['Time'].values[0]
    move = j[j['Event']=='Setup']['Time'].values[0]
    setup = move + 0.5
    start = j[j['Event']=='Work Start']['Time'].values[0]
    finish = j[j['Event']=='Work Finish']['Time'].values[0]
    with open("SSPT_sample100_test0_Unity_log.csv", 'a') as f:
        f.write('%s,%s,%.2f,%.2f,%.2f,%.2f,%.2f\n'% (str(i), machine, created, move, setup, start,finish))